@font-face {
  font-family: "GoThamBold";
  src: url("../font/SVN-GOTHAM BOLD.TTF");
}
@font-face {
  font-family: "GoThamBook";
  src: url("../font/SVN-GOTHAM BOOK.OTF");
}
@font-face {
  font-family: "GoThamBlack";
  src: url("../font/SVN-GOTHAM BLACK.OTF");
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}
body {
  font-family: GoThamBook;
}
ol,
ul {
  list-style: none;
}
h2 {
  font-family: GoThamBlack;
  font-size: 50px;
}
.slick-list {
  height: 100%;
}
.slick-initialized .slick-slide {
  margin: 0 12px;
}
.slick-slide {
  padding: 20px 0;
}
.slick-slide img {
  max-width: 100%;
  transition: transform 0.5s;
}

.slick-center img {
}
.slick-prev {
  position: absolute;
  top: 50%;
  left: -15px;
  transform: translateY(-50%);
  z-index: 1;
  background-color: #fff;
  color: #6b9cff;
  border: none;
  padding: 8px 16px;
  border-radius: 50%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}
.slick-next {
  position: absolute;
  top: 50%;
  right: -15px;
  transform: translateY(-50%);
  z-index: 1;
  background-color: #fff;
  color: #6b9cff;
  border: none;
  padding: 8px 16px;
  border-radius: 50%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.cursor-pointer {
  cursor: pointer;
}
.cursor-not-allowed {
  cursor: not-allowed;
}
.card {
  border-radius: 20px;
  overflow: hidden;
}
.card-img-top {
  max-height: 300px;
  height: 300px;
  object-fit: cover;
}
.text-justify {
  text-align: justify;
}
@media screen and (max-width: 768px) {
  .card-img-top {
    height: 100px;
  }
}
