@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css";
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

ol,
ul {
  list-style: none;
}
.slick-list {
  height: 100%;
}
.slick-initialized .slick-slide {
  margin: 0 12px;
}
.slick-slide {
  padding: 20px 0;
}
.slick-slide img {
  max-width: 100%;
  transition: transform 0.5s;
}

.slick-center img {
  transform: scale(1.08);
}
.slick-prev {
  position: absolute;
  top: 50%;
  left: -15px;
  transform: translateY(-50%);
  z-index: 1;
  background-color: #fff;
  color: #6b9cff;
  border: none;
  padding: 8px 16px;
  border-radius: 50%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}
.slick-next {
  position: absolute;
  top: 50%;
  right: -15px;
  transform: translateY(-50%);
  z-index: 1;
  background-color: #fff;
  color: #6b9cff;
  border: none;
  padding: 8px 16px;
  border-radius: 50%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}
.slick-prev:before {
  content: "<";
  color: #6b9cff;
  font-size: 20px;
}

.slick-next:before {
  content: ">";
  color: #6b9cff;
  font-size: 20px;
}
.cursor-pointer {
  cursor: pointer;
}
.cursor-not-allowed {
  cursor: not-allowed;
}
